*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 100vh;
}

.overlay-container {
    background-color: rgb(114, 114, 114);
    width: 80px;
    color: white;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
}